
<h2 class="ui center aligned icon header">
  <i class="circular blue users icon"></i>
  Let's chat
</h2>
<div class="ui two column grid">
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui icon input">
              <input type="text" placeholder="Enter a message">
              <i class="icon blue edit"></i> 
            </div>
          </div>
          
        </form>
      </div>
    </div> 
  </div>
</div>